<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RedBurger</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div id="menu">
            <img id="logo" src="{{ url_for('static', filename='logo.png') }}"/>
            <div id="menu-list">
                <div class="option">Order</div>
			    <div class="option">Menu</div>
			    <div class="option">Promotions</div>
			    <div class="option">Restaurants</div>
			    <div class="option">About us</div>
                <div class="option">Register</div>
                <div class="option">Login</div>
            </div>
        </div>
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>